/*General*/
@font-face {
    font-family: roboto;
    src: url("../webagency_images/fonts/Roboto-black.ttf") format("ttf");
}
body{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-family: roboto, sans-serif;
    padding-top: 5%;
}
ul, ol, li{
    list-style: none;
}
.sectionDivider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0;
    margin: 3% 0;
}
.divider{
    border-top: 2px solid #ebebeb;
    border-radius: 5px;
    width: 75px;
}
.bluePoint{
    color: #5cadd3;
    font-size: 6em;
    margin: 0 0 48% 0;
    font-family: "Comic Sans MS"/*LOL*/, sans-serif;
}
#acceuilAlpha{padding: 35%; margin: -35%; width: 0;}

/*Header /NavB*/
.header{
    z-index: 3000;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header nav{
    width: 80%;
    margin: 1% 10% 2% 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header nav ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0;
}
.header nav ul li{
    margin: 0 7% 0 0;
}
.header nav ul li a{
    text-decoration: none;
    color:#777777;
}
.header nav ul li a:hover{
    color: #555555;
    border-top: 3px solid #5cadd3;
    padding-top: 15px;
}

/*Acceuil*/
.blueStyle{
    color: #5cadd3;
}
#accueil:target {
     padding-top: 5%;
     margin-top: -5%;
 }
#acceuil{
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#acceuil input{
    display: none;
}
.chevronLeft{
    z-index: 1000;
    position: absolute;
    top: 45%;
    left: 0.5%;
    cursor: pointer;
    color: #fff;
}
.chevronRight{
    z-index: 1000;
    position: absolute;
    top: 47%;
    right: 0.5%;
    cursor: pointer;
    color: #fff;
}
.chevronRight:hover{transform: scale(1.1)}
.chevronLeft:hover{transform: scale(1.1)}
.bg1{
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    opacity: 0;
    transition: 650ms;
}
.bg1 img{
    width: 100%;
}
.innerBg {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 8%;
    color: #fff;
}
.innerBg h1{
    text-transform: uppercase;
}
.innerBg h2{text-transform: uppercase}
.innerBgButton{
    color: white;
    width: 25%;
    /* height: 40px; */
    padding: 2%;
    background: #5cadd3;
    border-radius: 5px;
    border: 0;
    border-bottom: solid 3px #4494bb;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    }
.innerBgButton a{text-decoration: none; color: white}
.innerBgButton:hover{transform: scale(1.1);cursor: pointer}
.innerBgButton:focus{outline-style:none;}
.bg2{
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    opacity: 0;
    transition: 650ms;
}
.bg2 img{
    width: 100%;
}
.viewBar{
    transition: 650ms;
    background: #4494bb;
    width: 10%;
    height: 4px;
    position: absolute;
    z-index: 2000;
    bottom: 0;
    left: 0;
}
#chevronRight:checked ~ .bg2{z-index: 100; opacity: 1;}
#chevronRight:checked ~ .viewBar{left: 90%; z-index: 2000}
#chevronLeft:checked ~ .bg1{z-index: 100; opacity: 1;}

/*Nos Services*/
#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#services:target {
    padding-top: 2%;
    margin-top: -2%;
}
#services h2{
    font-size: 2em;
    text-transform: uppercase;
    margin: 5% 0 0 0;
    width: 90%;
}
.serviceMainP{width: 60%}
.serviceSecondP {
    width: 90%;
    margin: 0;
}
.servicesDivider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0;
    margin: 5% 0;
}
.mainServices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5% 0 5% 0;
}
.main1{
    width: 50%;
}
.main1 img{
    width: 100%;
}
.main2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main2 h3{
    margin: 10% 0 1% 5%;
}
.main2 p{
    margin: 2% 0 0 5%;
    text-align: left;
}
.subMain1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.subMain1 img{
    margin: 15% 2% 0 0;
}
.subMain2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/*Nos Projets*/
#projets{

    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#projets:target {
    padding-top: 2%;
    margin-top: -2%;
}
#projets h2{
    font-size: 2em;
    text-transform: uppercase;
    margin: 5% 0 0 0;
    width: 90%;
}
.projetP{
    width: 55%;
    margin: 0;
}

    /*Nos Projets / Portfolio*/
.portfolioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 5% 0 5% 0;
    position: relative;
}
.labelTypeAll{
    position: absolute;
    right: 62%;
    top: 0;
}
.labelTypeCreative{
    position: absolute;
    top: 0;
    right: 50%;
}
.labelTypeCorporate{
    position: absolute;
    top: 0;
    left: 50%;
}
.labelTypePortfolio{
    position: absolute;
    top: 0;
    left: 62%;
}
.labelTypeAll{
    border-radius: 5px 0 0 5px;
}
.labelTypePortfolio{
    border-radius: 0 5px 5px 0;
}
.porfolioInput{
    display: none;
}
.portfolioContainer label{
    transition: 500ms;
    background: #e5e5e5;
    cursor: pointer;
    width: 10%;
    padding: 1%;
    margin: 0;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #4494BB;
    position: absolute;
    bottom: -37%;
    right: 40%;
    display: none;
}
.porfolioInput:checked + label{
    background: #5cadd3;
    color: #fff;
    border-bottom: solid 3px #4494bb
}
.porfolioInput:checked + label .triangle-down{display: initial;}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 7% 5% 0 5%;
}
.items li{
    transition: 500ms;
    position: relative;
    width: 23%;
    margin: 1% 0;
}
.items li a img{
    width: 100%;
}
.items .liHover{display: none;}
.items .liHover h4{display: none}
.items .liHover p{display: none}
.circlingEye{
    position: absolute;
    top: -20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border: solid 1px white;
    border-radius: 50px;
    background: #5cadd3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items li a:hover > .liHover{
    position: absolute;
    bottom: 5px;
    max-width: 100%;
    width: 100%;
    height: 35%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.items li a:hover > .liHover .liHoverH4{
    display: block;
    color: #fff;
    margin: 0 0 0 1%;
    font-size: 0.9em;
}
.items li a:hover > .liHover .liHoverP{
    display: block;
    color: #fff;
    margin: 0 0 0 1%;
    font-size: 0.7em;
}
    /*liLinkByInputChecked*/
.selectorTypeCreative:checked ~ .items .itemType2{transition: 450ms;opacity: 0.2;}
.selectorTypeCreative:checked ~ .items .itemType3{transition: 450ms;opacity: 0.2;}
.selectorTypeCorporate:checked ~ .items .itemType1{transition: 450ms;opacity: 0.2;}
.selectorTypeCorporate:checked ~ .items .itemType3{transition: 450ms;opacity: 0.2;}
.selectorTypePorfolio:checked ~ .items .itemType1{transition: 450ms;opacity: 0.2;}
.selectorTypePorfolio:checked ~ .items .itemType2{transition: 450ms;opacity: 0.2;}

/*Contact*/
#contact{
    background-color: #5cadd3;
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
}
.interactiveMap{
    height: 600px;
    border:0;
    width: 100%;
    opacity: 0.65;
}
form{
    background: rgba(255,255,255, 0.85);
    color: #848484;
    position: absolute;
    right: 10%;
    bottom: 17%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 1%;
}
form h3{
    align-self: flex-start;
    margin: 5% 0 1% 5%;
}
form h6{
    align-self: flex-start;
    margin: 5% 0 0 5%;
}
form p{
    align-self: flex-start;
    margin: 0 0 0 5%;
    font-size: 0.7em;
}
.formInput1{
    margin-top: 8%;
}
form input{
    border: solid #ccc 1px;
    border-radius: 3px;
    margin-bottom: 2%;
    padding: 2%;
    width: 90%;
}
form textarea{
    border: solid #ccc 1px;
    border-radius: 3px;
    margin-bottom: 2%;
    padding: 2%;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    font-family: roboto, Arial, sans-serif;
    resize: none;
}
form button{
    align-self: flex-start;
    margin: 7px;
    padding: 8px;
    color: white;
    width: 50%;
    background: #5cadd3;
    border-radius: 5px;
    border: 0;
    border-bottom: solid 3px #4494bb;
    }
form button:hover{transform: scale(0.9);}
form button:focus{outline-style:none;}

/*footer*/
footer{
    margin: 1% 0 0.5% 0;
    text-align: center;
    text-transform: none;
    font-size: 0.6em;
}
footer a{
    text-decoration: none;
}

/*MediaQ*/
@media all and (max-width: 1440px) {
    .triangle-down{
        bottom: -40%;
    }
}
@media all and (min-width: 1024px) and (max-width: 1259px){
    #services:target{padding-top: 5%;margin-top: -5%;}
    #projets:target{padding-top: 5%;margin-top: -5%;}
    .triangle-down {
        bottom: -47%;
        right: 35%;
    }
    .sectionDivider{
        margin: 5% 0;
    }
    .items{margin: 10% 5% 0 5%;}
    .items li{width: 30%;}
    .mainServices {
        flex-direction: column;
        align-items: center;
    }
    .main1{
        width: 90%;
        margin-bottom: 5%;
    }
    .main2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subMain1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 10% 0;
    }
    .subMain1 img {margin: 0 0 1% 0;}
    .subMain2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subMain2 h3{margin: 0 0 2% 0;font-size: 1.5em;}
    .subMain2 p{width: 80%;margin: 0;}
}
@media all and (min-width: 768px) and (max-width: 1023px){
    body{
        padding-top: 10%;
    }
    #services:target{padding-top: 5%;margin-top: -5%;}
    #projets:target{padding-top: 5%;margin-top: -5%;}
    .triangle-down{
        bottom: -47%;
        right: 31%;
    }
    .sectionDivider{
        margin: 5% 0;
    }
    .innerBg{
        width: 45%;
    }
    .innerBg h1{margin: 0; font-size: 1.3em}
    .innerBg h2{margin: 0; font-size: 1.3em}
    .innerBg p{font-size: 1.1em}
    .innerBgButton{width: 30%;}
    .mainServices {
        flex-direction: column;
        align-items: center;
    }
    .main1{
        width: 90%;
        margin-bottom: 5%;
    }
    .main2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subMain1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 10% 0;
    }
    .subMain1 img {
        margin: 0 0 1% 0;
    }
    .subMain2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subMain2 h3{margin: 0 0 2% 0;font-size: 1.5em;}
    .subMain2 p{width: 80%;margin: 0;}
    .portfolioContainer{
        margin: 6% 0 5% 0;
    }
    .portfolioContainer label{
        font-size: 0.9em;
    }
    .items{
        margin: 10% 5% 5% 5%;
    }
    .items li{
        width: 48%;
    }
}
@media all and (min-width: 320px) and (max-width: 767px){
    body {padding-top: 30%;}
    #accueil:target{padding-top: 25%;margin-top: -25%;}
    #services:target{padding-top: 25%;margin-top: -25%;}
    #projets:target{padding-top: 25%;margin-top: -25%;}
    .sectionDivider{margin: 10% 0;}
    .header nav {
        width: 80%;
        margin: 0 10% 0 10%;
        flex-direction: column;
        align-items: center;
    }
    .header .navB img{margin: 1% 0}
    .header nav ul li a:hover {
        color: #555555;
        border-bottom: 3px solid #5cadd3;
        border-top: none;
        padding-bottom: 15px;
        padding-top: initial;
    }
    .bg1{display: flex; align-items: center;text-align: center;}
    .bg1 label{display: none;}
    .bg1 img{display: none;}
    .bg2 label{display: none}
    .bg2 img{display: none}
    .bg2 .innerBg{display: none}
    .viewBar{display: none}
    .innerBg h1 {margin: 0 0 2% 0;}
    .innerBg h2 {margin: 0 0 2% 0;}
    .innerBg p {display: none}
    .innerBg{
        width: 90%;
        position: initial;
        flex-direction: column;
        align-items: center;
        color: inherit;
    }
    .innerBgButton{width: 32%}
    .mainServices {
        flex-direction: column;
        align-items: center;
    }
    #services{margin-top: 10%}
    #services p{
        width: 80%;
    }
    .main1{
        width: 90%;
        margin-bottom: 5%;
    }
    .main2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subMain1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 10% 0;
    }
    .subMain1 img {
        margin: 0 0 1% 0;
    }
    .subMain2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subMain2 h3{margin: 0 0 2% 0;font-size: 1.5em;}
    .subMain2 p{width: 80%;margin: 0;}
    .projetP {width: 80%;margin: 0 0 5% 0;}
    .portfolioContainer label{font-size: 0.9em;width: 21%}
    .labelTypeAll{right: 73%}
    .labelTypePortfolio{left: 73%}
    .triangle-down{bottom: -57.8%;right: 33%}
    .items{
        flex-direction: column;
        align-items: center;
        margin: 20% 5% 20% 5%;
    }
    .items li{width: 90%}
    #contact{
        width: 90%;
        flex-direction: column;
        align-self: center;
    }
    #contact form{
        position: initial;
        background: rgb(222, 222, 222);
        color: #000;
        margin: 0;
    }
}
@media all and (min-device-width: 320px) and (max-device-width: 767px){
    body {padding-top: 30%;}
    #accueil:target{padding-top: 20%;margin-top: -20%;}
    #services:target{padding-top: 20%;margin-top: -20%;}
    #projets:target{padding-top: 20%;margin-top: -20%;}
    .sectionDivider{margin: 10% 0;}
    .header nav {
        width: 80%;
        margin: 0 10% 0 10%;
        flex-direction: column;
        align-items: center;
    }
    .header .navB img{margin: 1% 0}
    .header .navB ul{
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: 2em;
    }
    .bg1{display: flex; align-items: center;text-align: center;}
    .bg1 label{display: none;}
    .bg1 img{display: none;}
    .bg2 label{display: none}
    .bg2 img{display: none}
    .bg2 .innerBg{display: none}
    .viewBar{display: none}
    .innerBg h1 {margin: 0 0 2% 0;font-size: 3em}
    .innerBg h2 {margin: 0 0 2% 0;font-size: 3em}
    .innerBg p {display: none}
    .innerBg{
        width: 90%;
        position: initial;
        flex-direction: column;
        align-items: center;
        color: inherit;
    }
    .innerBgButton {
        width: 32%;
        font-size: 2em;
        text-decoration: none;
        }
    .innerBgButton a{color: white}
    .innerBgButton:hover{font-size: 2.3em}
    .innerBgButton a:visited{color: white}
    .innerBgButton a:focus{outline-style: none}
    .mainServices {
        flex-direction: column;
        align-items: center;
    }
    #services{margin-top: 10%}
    #services p{
        width: 80%;
    }
    .main1{
        width: 90%;
        margin-bottom: 5%;
    }
    .main2{
        width: 100%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subMain1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 10% 0;
    }
    .subMain1 img {
        margin: 0 0 1% 0;
    }
    .subMain2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subMain2 h3{margin: 0 0 2% 0;font-size: 1.5em;}
    .subMain2 p{width: 80%;margin: 0;}
    .projetP {width: 80%;margin: 0 0 5% 0;}
    .portfolioContainer{margin: 10% 0 5% 0;}
    .portfolioContainer label{
        font-size: 2em;
        width: 25%;
        height: 1.5%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;}
    .labelTypeAll{right: 76.9%}
    .labelTypePortfolio{left: 76.9%}
    .triangle-down{bottom: -47%;right: 31%;}
    .items{
        flex-direction: column;
        align-items: center;
        margin: 25% 5% 20% 5%;
    }
    .items li{width: 90%}
    .items li a:hover > .liHover .liHoverH4 {
        display: block;
        color: #fff;
        margin: 0 0 0 1%;
        font-size: 2em;
    }
    .items li a:hover > .liHover .liHoverP {
        display: block;
        color: #fff;
        margin: 0 0 0 1%;
        font-size: 1.5em;
    }
    #contact{width: 90%;flex-direction: column;align-self: center;}
    #contact form{
        position: initial;
        background: rgb(222, 222, 222);
        color: #000;
        margin: 0;}
    #contact form input{font-size: 1em;}
    #contact form textarea{font-size: 1em;}
    #contact form button{
        font-size: 1em;
        margin: 8px 8px 8px 27px;
        width: 18%;
    }
}
